*{
  font-family: 'Open Sans Condensed', sans-serif;
}

.title.is-1{
  color: #FA7E5A;
  font-style: italic;
  font-weight: 700;
  margin: 20px;
}


#allTeasSearch{
  background-color: #F5F7FA;
  padding: 20px;
}

#teaInfo{
  padding: 10px 0px 10px 30px;
}

#teaCategory{
  list-style-type: circle;
  margin-left: 28px;
}


#box{
  margin: 20px;
}

#box1column.column{
  padding-bottom: 20px;
}

#cart{
  padding: 20px;
  background-color: #F5F7FA;
}

#cartBox{
  padding: 20px;
  margin: 20px;
}

#cartQuantityPadding{
  margin-left: 44px;
}
