<div class='container'>
  <div class='section' id='allTeasSearch'>
    <h4 class='is-inline'>Search by category:</h4>
    <select>
      <option value="dark">Dark</option>
      <option value="cold">Cold</option>
      <option value="awesome">Awesome</option>
    </select>
    <h4 class='is-inline'>Search by name:</h4>
    <input type="text">
    <span class='is-pulled-right'>
      <button class="button is-danger">Checkout | Bag: Empty!</button>
    </span>
  </div>
  <div class='box columns'  id='box'>
    <div class='column is-third'>
      <h4>Teas:</h4>
    </div>
    <div class='column'>
      Information:
    </div>
    <span class='is-pulled-right' style='margin-top: 12px'>
      <h4 class='is-inline'>Sort By Price: </h4>
      <select class='is-inline'>
        <option>Low</option>
        <option>High</option>
      </select>
    </span>
</div>
<div ng-repeat='tea in teas' class='colum'>
  <div class="box columns" id='box'>
  <div class='cloumn is-third'>
    <img src= '{{ tea.imageUrl }}' alt="tea pic">
  </div>
  <div class='column' id='teaInfo'>
    <h3 class='title is-3'>
      <strong>{{ tea.name }}</strong>
      <span class='is-pulled-right'>
        <h4 class='is-inline'><strong>Quantity:</strong></h4>
        <select class='is-inline'>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        <button class="button is-danger" style='background-color: #EFAC56'>Add To Bag</button>
    </span>
    </h3>
    <p>
      Price: {{tea.price/100 | currency}}
    </p>
    <p>
      Ingredients: {{tea.ingredients}}
    </p>
    <p>
      Rating: {{tea.rating}}
    </p>
    <p>
      In Stock? {{ tea.inStock | yesNo }}
    </p>
    <p class='is-inline'>
      Categories:
    </p>
    <ul ng-repeat='category in tea.categories' id='teaCategory'>
      <li>{{ category }}</li>
    </ul>
  </div>
  </div>
</div>
</div>
