<div class='container'>
  <div class='section' id='cart'>
  <div class='box columns'  id='box'>
    <div class='column is-half'>
      <h4>Product</h4>
    </div>
    <div class='column'>
      Quantity
    </div>
    <div class='column'>
      Subtotal
    </div>
    </div>
    <div class='box columns' id='cartBox'>
      <div class='cloumn is-half' id='cartImg'>
      <h1>Tea Name</h1>
      <img src="http://placehold.it/250x250">
      </div>
      <div class='column'>
        <p>
          Caffeine Scale:
        </p>
        <p>
          Ingredients:
        </p>
        <p>
          Rating:
        </p>
      </div>
      <div class='column'>
        <p>Tea Quantity</p>
      </div>
      <div class='column'>
       <p>Tea Total</p>
      </div>
        <span class='is-pulled-right' style='margin-top: 12px'>
          <a class="button is-warning">Edit</a>
          <a class="button is-danger">Remove</a>
      </div>
    </div>


</div>
</div>
